/*  your css code here. If applicable */
#buttons {
  text-align: center;
  margin-top: px;
	background:mediumpurple;
	height:300
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  background-color:blueviolet;
  color: #fff;
  border: none;
  cursor: pointer;
}

.stop {
  background-color: mediumpurple;
}